{% extends "default.html" %}
{% block title %}
    Login
{% endblock %}
{% block header %}
    <div class="header">Panther Pantry Login</div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="form-container">
            {% if error_message %}
                <div class="error">{{ error_message }}</div>
            {% endif %}
            <form method="POST" action="/do_login" class="data-entry-form">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="{{ username or '' }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-actions">
                    <button type="submit" name="type" value="login" class="main-button">LOGIN</button>
                    <a href="/register" class="button-link">REGISTER</a>
                    <a href="/reset_password" class="button-link">Reset Password</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}