{% extends "default.html" %}
{% block title %}
    Register
{% endblock %}
{% block header %}
    <div class="header">Reset Password</div>
{% endblock %}
{% block content %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/do_reset_password">
            <table class="data_entry">
                <tr>
                    <th><label>Password:</label></th>
                    <td>
                        <input type="password" name="password"  required>
                    </td>
                </tr>
                <tr>
                    <th><label>Confirm Password:</label></th>
                    <td>
                        <input type="password" name="password_confirm" required>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit" name="type" value="Confirm">CONFIRM!</button>
                    </th>
                </tr>
            </table>
    </form>
{% endblock %}