{% extends "default.html" %}
{% block title %}
    Register
{% endblock %}
{% block header %}
    <div class="header">Reset Password</div>
{% endblock %}
{% block content %}
{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
<div class="content">
    <div class="form-container">
        <form method="POST" action="/user_do_reset_password" class="reset-password-form">
            <div class="form-group">
                <label for="username">Username or Email:</label>
                <input type="text" name="username" id="username" placeholder="Enter Username or Email" required>
            </div>
            <div class="form-actions">
                <button type="submit" name="type" value="Confirm" class="main-button">Confirm</button>
                <a href="/login" class="button-link ">Back to Login</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}