/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
}

.top_login_button a {
    color: #fff;
}

.top_login_button a:hover {
    background-color: #003f7f;
}

.top_login_name {
    font-weight: bold;
    color: black;
}

.user {
    background: dodgerblue;
}

#for-color{
    width: 100%;
    height: 65px;
    background: dodgerblue;
}

.container {
    background: #fff;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 10px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
}


.time, .error{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
}

.error {
    color: red;
}

.to_do_list {
    color: #007BFF;
}

/* Media Queries */

@media screen and (min-width: 300px) {
    body {
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        min-height: 100vh;
        height: 100vh; /* Full viewport height */
        margin: 0;
        overflow: auto; /* Allow scrolling */
    }
    .to_do_list{
        text-align: center;
        font-size: 25px;
    }

    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 65px;
    }

    .top_login_name {
        color: black;
    }

    .top_login_button {
        color: black;
        text-decoration: none;
    }

    textarea {
        width: 100%;
        height: 50px; /* Reduced height */
        resize: none;
        font-size: 20px;
    }

    .top_login_button{
        margin-right: 100px;
    }

    .main-container {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        justify-content: flex-start;
        align-items: center; /* Center items horizontally */
        height: calc(100vh - 100px - 85px); /* Subtract header/footer height */
        overflow-y: auto; /* Allow scrolling within the container */
    }

    .container {
        width: 100%; /* Full width */
        max-height: calc(100vh - 100px - 85px);
        border: 10px solid #ddd;
        border-radius: 8px;
        background: #fff;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow-y: auto; /* Allow scrolling within the container */
        position: relative;
    }

    .container h2 {
        color: #007BFF;
        font-size: 1.5rem;
    }

    .top_login_name, .top_login_button, .form-group label {
        font-size: 30px;
    }

    .form-group input {
        font-size: 40px;
    }

    .button-link {
        font-size: 50px;
    }

   .form-container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .data-entry-form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        font-size: 15px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .main-button {
        padding: 10px;
        font-size: 1rem;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    .button-link {
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        background-color: #6c757d;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        display: inline-block;
    }

    .button-link:hover {
        background-color: #5a6268;
    }

    #footer {
        text-align: center;
        font-size: 0.9rem;
        border-top: 1px solid #ddd;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background-color: #f9f9f9;
        padding: 5px;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }

    .draggable {
        border: 10px solid lightskyblue;
    }

     #add-input-btn {
        padding: 0.4rem 0.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: absolute;
        right: 15px;
        top: 1rem;
        background-color: #007BFF;
        color: #fff;
        font-size: 20px;
    }

    #add-input-btn:hover {
        background-color: #0056b3;
    }

    .remove_button {
        padding: 4px 8px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 6rem;
        height: 2rem;
        font-size: 15px;
    }
}

@media screen and (min-width: 990px), print {
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        min-height: 100vh;
    }

    .main-container {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;   /* Centers vertically */
        flex-direction: row;
        height: calc(100vh - 100px - 85px);        /* Makes the container take the full viewport height */
        margin-bottom: 0;      /* Removes unnecessary bottom margin */
    }

    .container {
        max-height: calc(100vh - 100px - 85px);
        width: 30%;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #fff;
        padding: 1.5rem;
    }


   .form-container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .data-entry-form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        font-size: 15px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .main-button {
        padding: 10px;
        font-size: 1rem;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    .button-link {
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        background-color: #6c757d;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        display: inline-block;
    }

    .button-link:hover {
        background-color: #5a6268;
    }

    #footer {
        text-align: center;
        font-size: 0.9rem;
        border-top: 1px solid #ddd;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        padding: 10px;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }

    .remove_button {
        margin-top: 10px;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 4rem;
        height: 2rem;
        font-size: 12px;
    }

    #back_to_login {
        padding: 5px;
        margin-left: 120px;
        display: inline-block;
    }
}

